
<html>
<head>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160011552-3"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-160011552-3');
    </script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

</head>
<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <div style="display: block; padding-bottom: 20px">
        <h1>MESA - bps</h1>
    </div>
    
    <div class="form-div-main">
    
        <div class="form-div">
        <form action="/" method="GET">
            <label class="bk">Select input parameters:</label>
        
            <table>
            <tr>
            <th>
                <label class="bk">M1 init (Msol):</label>
            </th>
            <th>
                <input type="text" id="M1init" name="M1init">
            </th>
            </tr>

            <tr>
            <th>
                <label class="bk">M2 init (Msol):</label>
            </th>
            <th>
                <input type="text" id="M2init" name="M2init">
            </th>
            </tr>
            
            <tr>
            <th>
                <label class="bk">q init (M1/M2):</label>
            </th>
            <th>
                <input type="text" id="qinit" name="qinit">
            </th>
            </tr>
            
            <tr>
            <th>
                <label class="bk">P init (Days):</label>
            </th>
            <th>
                <input type="text" id="Pinit" name="Pinit">
            </th>
            </tr>
            
            <tr>
            <th>
                <label class="bk">[Fe/H] init (dex):</label>
            </th>
            <th>
                <input type="text" id="FeHinit" name="FeHinit">
            </th>
            </tr>
            
            </table>
            
            <button type="submit">Simulate</button>
            
        </form>
        </div>
        
        <p></p>
        
        <div class="form-div">
            <p>
            Or upload a csv file with as columns 'M1_init', 'q_init', 'P_init', 'FeH_init'. Limited to 16 Mb and 10000 lines.
            </p>
        
            <form action='/upload/' method=POST enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
            </form>
        </div>
        
    </div>

    
    <h2>Results</h2>
    
    
    <div class="form-div-main">
    
        {% if results %}
        <div class="result-div">
        
            {{ results | safe }}
        
        </div>
        {% else %}
        <p> No results, run a model first...</p>
        {% endif %}
        
    </div>

</body>
</html>
